# Arquivos temporários do sistema
*~
*.swp
.DS_Store
Thumbs.db

# Arquivos e pastas do .NET Core
**/.vs/
**/bin/
**/obj/

# Arquivos de build e logs
*.log
*.vspscc
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe

**/TestResults/

# Pacotes NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Arquivos do SQL Server
*.mdf
*.ldf
*.ndf

# Arquivos do Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# Arquivos de usuário do Visual Studio
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
